<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    </head>
    <body>
        <h1>MVC - 123</h1>
        <form action="/insertCar" method="post">
            Name<input type="text" name="name" id="">
            Brand <input type="text" name="brand" id="">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>